.row
  .col-md-12
    %h2 
      %b Listagem de entidades

    = link_to "+ adicionar nova entidade", new_cadastre_path, class: 'btn btn-success btn-xs'
%br/
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %b Listagem de entidades cadastradas
      .panel-body
        .row
          = simple_form_for url_for, method: :get do |f|
            .col-md-3
              = f.input :by_cnpj, label: "CNPJ (somente números)", as: :string, include_blank: 'selecione...', input_html: { name:'by_cnpj', value: params[:by_cnpj]}
            .col-md-3
              = f.input :by_acronym, label: "Sigla", as: :string, include_blank: 'selecione...', input_html: { name:'by_acronym', value: params[:by_acronym]}
            .col-md-1
              = f.submit "Filtrar", name: nil, class: 'btn btn-primary filter-margin-button btn-sm', data: { disable_with: t(:disable_with)}
            .col-md-3
              = link_to "Exportar em Excel", url_for(format: :csv), class: 'btn btn-success btn-sm filter-margin-button'
              
        .row
          .col-md-12
            %table.table.table-striped.table-bordered.table-hover
              %thead
                %tr
                  %th Nº
                  %th CNPJ
                  %th Nome
                  %th Sigla
                  %th Nº Convênio
                  %th Qtd. Assoc.
                  %th Ação
              %tbody
                - @entities.each do |ent|
                  %tr
                    %td.col-md-1= ent.id
                    %td.col-md-2= ent.cnpj.format_cnpj
                    %td.col-md-2= ent.name.upcase
                    %td.col-md-2= ent.acronym
                    %td.col-md-2= ent.convenant_number
                    %td.col-md-1= ent.members.count
                    %td.col-md-2
                      = link_to "", cadastre_path(ent), class: 'btn btn-success btn-xs glyphicon glyphicon-zoom-in'
                      = link_to "", edit_cadastre_path(ent), class: 'btn btn-primary btn-xs glyphicon glyphicon-pencil'
                      = link_to "", cadastre_path(ent), method: :delete, class: 'btn btn-danger btn-xs glyphicon glyphicon-remove', data: { confirm: t(:confirm)}