= simple_form_for @list do |f|
  .row
    .col-md-10
      = f.input :name, placeholder: "Insira o nome da lista"
    .col-md-2
      = f.input :color, as: :select, collection: Entity::List.colors.keys, include_blank: false
  .row
    .col-md-12
      = f.input :description, placeholder: "Insira uma descrição para a lista"

  %hr/
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success', data: { disable_with: t(:disable_with)}
      = link_to 'Voltar para listagem', lists_path, data: { disable_with: t(:disable_with)}, class: 'btn btn-default'

