= simple_form_for @cadastre do |f|
  .row
    .col-md-6
      = f.input :name, placeholder: "Insira o nome da entidade", input_html: {  disabled: 'disabled'}
    .col-md-3
      = f.input :acronym, placeholder: "Insira a sigla", input_html: {  disabled: 'disabled'}
    .col-md-3
      = f.input :cnpj, input_html: { class: 'cnpj' , placeholder: "00.000.000/0000-00", disabled: 'disabled'}
  .row
    .col-md-3
      = f.input :telephone, placeholder: 'Somente números'
    .col-md-3
      = f.input :telephone_optional, placeholder: 'Somente números'
    .col-md-3
      = f.input :celphone, placeholder: 'Somente números' 
    .col-md-3
      = f.input :celphone_optional, placeholder: 'Somente números'
  .row
    .col-md-3
      = f.input :email, placeholder: 'Insira um e-mail válido' 
    .col-md-3
      = f.input :email_optional, placeholder: "Insira um e-mail válido" 
    .col-md-3
      = f.input :foundation_date, as: :string, input_html: { class: 'date', placeholder:'dia/mês/ano'  }
  %hr/
  .row
    .col-md-3 
      = f.association :state, include_blank: "selecione..."
    .col-md-6
      = f.input :city , placeholder: 'Insira a cidade onde reside a sede da entidade'
    .col-md-3
      = f.input :cep , input_html: { class: 'cep'}
  .row
    .col-md-3
      = f.input :address, placeholder: "Insira o endereço"
    .col-md-3
      = f.input :complement, placeholder: "Insira um complemento"
    .col-md-3
      = f.input :burgh, placeholder: "Insira o bairro"
    .col-md-2
      = f.input :number
  .row
    .col-md-12
      = f.input :reference_point, placeholder: "Insira um ponto de referência"
  %hr/
  .row
    .col-md-3
      = f.input :color, as: :select, collection: Entity::Cadastre.colors.keys, include_blank: false
    .col-md-3
      = f.input :password_digest, placeholder: "Mínimo de 6 caracteres"
      - unless f.object.new_record?
        = f.hint "Deixe em branco caso não queira mudar a senha"
    .col-md-3
      = f.input :password_confirmation, placeholder: "Mínimo de 6 caracteres"
  %hr/
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success', data: { disable_with: t(:disable_with)}
      = link_to "Voltar para listagem", admin.cadastres_path, data: { disable_with: t(:disable_with)}, class: 'btn btn-default'