= simple_form_for @member do |f|
  .row
    .col-md-8
      = f.input :name, placeholder: "Insira o nome do associado"
    .col-md-2
      = f.input :cpf, input_html: { class: 'cpf'}
    .col-md-2
      = f.input :rg
  .row
    .col-md-2
      = f.input :born, as: :string, input_html: { class: 'date', placeholder: 'dia/mes/ano', value: f.object.born.present? ? localize(f.object.born) : nil}
    .col-md-2
      = f.association :born_state, include_blank: "selecione..."
    .col-md-4
      = f.input :born_city, placeholder: 'Informe a cidade'
    .col-md-2
      = f.input :gender, as: :select, collection: Entity::Member.genders.keys, include_blank: false
    .col-md-2
      = f.input :civil_state, as: :select, collection: Entity::Member.civil_states.keys, include_blank: false, input_html: { id: "civil_state_id"}
  .row
    #marriege{style: "display: #{f.object.casado? ? 'block' : 'none'}"}
      .col-md-6
        = f.input :spouse_name, as: :string
      .col-md-2
        = f.input :spouse_rg, as: :string
      .col-md-2
        = f.input :spouse_cpf, as: :string, input_html: { class: 'cpf'}
      .col-md-2
        = f.input :marriage_status, as: :string
  .row
    .col-md-2
      = f.input :dependents_number, as: :string
    .col-md-3
      = f.input :special_dependents_number, as: :string
  %hr/
  .row
    .col-md-3
      = f.input :telephone, placeholder: 'Somente números'
    .col-md-3
      = f.input :celphone, placeholder: 'Somente números' 
    .col-md-3
      = f.input :email, placeholder: 'Insira um e-mail válido' 
    .col-md-3
      = f.input :email_optional, placeholder: "Insira um e-mail válido" 
  %hr/
  .row
    .col-md-3 
      = f.association :state, include_blank: "selecione..."
    .col-md-6
      = f.input :city , placeholder: 'Insira a cidade onde reside a sede da entidade'
    .col-md-3
      = f.input :cep , input_html: { class: 'cep'}
  .row
    .col-md-9
      = f.input :address, placeholder: "Insira o endereço"
    .col-md-3
      = f.input :complement, placeholder: "Insira um complemento"
  %hr/
  .row
    .col-md-3 
      = f.association :work_state, include_blank: "selecione..."
    .col-md-4
      = f.input :work_city , placeholder: 'Insira a cidade onde reside a sede da entidade'
    .col-md-2
      = f.input :work_cep , input_html: { class: 'cep'}
    .col-md-3
      = f.input :professional , as: :string
  .row
    .col-md-9
      = f.input :work_address, placeholder: "Insira o endereço"
    .col-md-3
      = f.input :work_complement, placeholder: "Insira um complemento"
  .row
    .col-md-3
      = f.input :work_telephone, placeholder: 'Somente números'
    .col-md-3
      = f.input :work_telephone_optional, placeholder: 'Somente números'
    .col-md-2
      = f.input :income, placeholder: 'R$ 0.00'
    .col-md-2
      = f.input :income_family, placeholder: 'R$ 0.00'
    .col-md-2
      = f.input :typology
  %hr/
  .row
    .col-md-3
      = f.input :situation, as: :select, include_blank: false, collection: Entity::Member.situations.keys
    .col-md-3
      = f.input :date, as: :string, input_html: { class: 'date', value: f.object.date.present? ? localize(f.object.date) : nil} 
    
  %hr/
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success', data: { disable_with: t(:disable_with)}
      = link_to "Voltar para listagem", entity.members_path, data: { disable_with: t(:disable_with)}, class: 'btn btn-default'

:javascript 
  $(document).ready(function(){
    $('#civil_state_id').on('change', function() {
      if($(this).val() == "casado") {
        $('#marriege').fadeIn();
      } else {
        $('#marriege').fadeOut();
      }
    })
  })