!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    :css
      @import url('https://themes.googleusercontent.com/fonts/css?kit=wAPX1HepqA24RkYW1AuHYA');.lst-kix_list_1-3>li:before{content:"\0025aa  "}.lst-kix_list_1-4>li:before{content:"\0025aa  "}ul.lst-kix_list_1-0{list-style-type:none}.lst-kix_list_1-7>li:before{content:"\0025aa  "}.lst-kix_list_1-5>li:before{content:"\0025aa  "}.lst-kix_list_1-6>li:before{content:"\0025aa  "}ul.lst-kix_list_1-3{list-style-type:none}.lst-kix_list_1-0>li:before{content:"\0025cf  "}ul.lst-kix_list_1-4{list-style-type:none}.lst-kix_list_1-8>li:before{content:"\0025aa  "}ul.lst-kix_list_1-1{list-style-type:none}ul.lst-kix_list_1-2{list-style-type:none}ul.lst-kix_list_1-7{list-style-type:none}.lst-kix_list_1-1>li:before{content:"o  "}.lst-kix_list_1-2>li:before{content:"\0025aa  "}ul.lst-kix_list_1-8{list-style-type:none}ul.lst-kix_list_1-5{list-style-type:none}ul.lst-kix_list_1-6{list-style-type:none}ol{margin:0;padding:0}table td,table th{padding:0}.c1{padding-top:5pt;padding-bottom:0pt;line-height:1.0;orphans:2;widows:2;text-align:justify;height:11pt}.c18{padding-bottom:36pt;line-height:1.0;orphans:2;widows:2;text-align:center;height:11pt}.c21{padding-bottom:0pt;line-height:1.0;orphans:2;widows:2;text-align:center;height:11pt}.c20{padding-top:36pt;padding-bottom:0pt;line-height:1.0;orphans:2;widows:2;text-align:center}.c4{padding-top:5pt;padding-bottom:0pt;line-height:1.0;orphans:2;widows:2;text-align:justify}.c29{padding-bottom:0pt;line-height:1.0;orphans:2;widows:2;text-align:center}.c2{vertical-align:baseline;font-family:"Arial";color:#000000;font-weight:normal}.c26{orphans:2;text-indent:36pt;widows:2;text-align:justify}.c0{vertical-align:baseline;font-family:"Arial";color:#ff0000}.c25{orphans:2;widows:2;height:11pt}.c22{background-color:#ffffff;max-width:425.2pt;padding:0pt 85pt 70.8pt 85pt}.c34{padding-bottom:0pt;line-height:1.0;text-align:left}.c30{orphans:2;widows:2;text-align:center}.c5{font-size:9pt;font-family:"Arial"}.c23{color:inherit;text-decoration:inherit}.c13{margin-left:20.2pt;padding-left:0pt}.c24{margin-left:20.2pt;padding-left:0pt}.c3{color:#ff0000;font-family:"Arial"}.c27{color:#0000ff;text-decoration:underline}.c8{font-family:"Arial";font-style:italic}.c19{padding:0;margin:0}.c11{vertical-align:baseline;font-family:"Arial"}.c6{color:#222222;font-weight:normal}.c15{color:#222222}.c14{vertical-align:baseline}.c10{color:#808080}.c31{margin-left:36pt}.c32{color:#ff0000}.c17{color:#000000}.c7{font-weight:bold}.c33{font-size:10pt}.c28{text-align:justify}.c16{font-style:italic}.c12{font-family:"Arial"}.c9{font-weight:normal}.title{padding-top:24pt;color:#000000;font-weight:bold;font-size:36pt;padding-bottom:6pt;font-family:"Calibri";line-height:1.1500000000000001;page-break-after:avoid;orphans:2;widows:2;text-align:left}.subtitle{padding-top:18pt;color:#666666;font-size:24pt;padding-bottom:4pt;font-family:"Georgia";line-height:1.1500000000000001;page-break-after:avoid;font-style:italic;orphans:2;widows:2;text-align:left}li{color:#000000;font-size:11pt;font-family:"Calibri"}p{margin:0;color:#000000;font-size:11pt;font-family:"Calibri"}h1{padding-top:24pt;color:#000000;font-weight:bold;font-size:24pt;padding-bottom:6pt;font-family:"Calibri";line-height:1.1500000000000001;page-break-after:avoid;orphans:2;widows:2;text-align:left}h2{padding-top:18pt;color:#000000;font-weight:bold;font-size:18pt;padding-bottom:4pt;font-family:"Calibri";line-height:1.1500000000000001;page-break-after:avoid;orphans:2;widows:2;text-align:left}h3{padding-top:14pt;color:#000000;font-weight:bold;font-size:14pt;padding-bottom:4pt;font-family:"Calibri";line-height:1.1500000000000001;page-break-after:avoid;orphans:2;widows:2;text-align:left}h4{padding-top:12pt;color:#000000;font-weight:bold;font-size:12pt;padding-bottom:2pt;font-family:"Calibri";line-height:1.1500000000000001;page-break-after:avoid;orphans:2;widows:2;text-align:left}h5{padding-top:11pt;color:#000000;font-weight:bold;font-size:11pt;padding-bottom:2pt;font-family:"Calibri";line-height:1.1500000000000001;page-break-after:avoid;orphans:2;widows:2;text-align:left}h6{padding-top:10pt;color:#000000;font-weight:bold;font-size:10pt;padding-bottom:2pt;font-family:"Calibri";line-height:1.1500000000000001;page-break-after:avoid;orphans:2;widows:2;text-align:left}
  %body.c22
    %div
      %p.c20
        %img{:src => "/images/logo_termo_declaratorio.jpg", :style => "width: 150.07px; height: 86.47px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);", :title => ""}/
      %p.c29
        %span.c5.c7.c16 ORGANIZAÇÃO DAS ASSOCIAÇÕES E ENTIDADES HABITACIONAIS DO DISTRITO FEDERAL
      %p.c29
        %span.c5.c7.c16 CONJ Nº 03.931.046/0001-12
      %p.c29
        %span.c5.c10 _________________________________________________________________________________
      %p.c25.c34
        %span
      %p.c21
        %span
    %p.c30
      %span.c7.c12 Termo de Ato Declaratório/Conjunto de participação no Projeto Nascente Ribeirão
    %p.c25
      %span
    %p.c26
      %span.c11 Eu,
      %span.c8.c14 
      %span= @member.name
      %span.c11  ,
      %span brasileira(o)
      %span ,
      %span= @member.gender
      %span,
      %span= @member.professional
      %span, portador(a)
      %span.c7  
      %span da cédula de identidade
      %span= @member.rg
      %span e do
      %span CPF nº #{@member.cpf.format_cpf}
      %span residente e domiciliado
      %span #{@member.address}
      %span ,
      %span #{@member.city}
      %span , nesta capital
      %span ,
      %span nome do associado (a)
      %span da entidade
      %span #{@member.cadastre.name}
      %span ,
      %span  
      %span organização civil sem fins lucrativos, inscrita no
      %span CNPJ sob o nº #{@member.cadastre.cnpj.format_cnpj}
      %span ,
      %span situada à
      %span  
      %span #{@member.cadastre.address}
      %span endereço da entidade,
      %span Distrito Federal,
      %span #{@member.cadastre.cep}
      %span ,
      %span.c12 neste ato representado por seu (a) Presidente, conforme Ata de nomeação,  Sr(a)
      %span= @member.cadastre.president.name if  @member.cadastre.president.present?
      %span.c12 ,
      %span.c12 portadora da
      %span cédula de identidade nº
      %span= @member.cadastre.president.rg if  @member.cadastre.president.present?
      %span , e do CPF nº 
      %span= @member.cadastre.president.cpf.format_cpf if  @member.cadastre.president.present?
      %span , firmado com a OASSEH-DF o
      %span TERMO DE PARCERIA Nº #{@member.term_number}.
    %p.c25.c28
      %span
    %p.c26
      %span.c11 Declaro,
      %span.c11.c17 por intermédio da presente e na melhor forma de direito, sem induzimento ou coação, para fins da proteção oferecida pelo ordenamento jurídico,
      %span.c11 para fazer prova junto
      %span.c11.c17  à quaisquer Órgãos Públicos, Federais, Estaduais e Municipais, Empresas públicas e/ou privadas, e onde for necessário e com esta se apresentar
      %span.c11 . Venho declarar que:
    %ul.c19.lst-kix_list_1-0.start
      %li.c4.c24
        %span.c11.c9 Tenho plena ciência que
        %span.c12  a Orçanização das Associações e Entidades Habitacionais do DF -
        %span.c11.c6 OASSEH-DF, firmou com a Companhia de Desenvolvimento
        %span.c15.c12 H
        %span.c11.c6 abitacional do DF - CODHAB, em setembro de 2015, convênio com a finalidade de viabilizar o Projeto Nascente Ribeirão.
    %p.c1
      %span
    %ul.c19.lst-kix_list_1-0
      %li.c4.c24
        %span.c11.c6 O projeto Nascente Ribeirão está inserido nas Diretrizes Urbanísticas (DIUR 01/2014 – Processo nº 390.000.750/2013) – Expansão de Santa Maria.
    %p.c1
      %span
    %ul.c19.lst-kix_list_1-0
      %li.c4.c24
        %span.c11.c6 A existência do Termo de Ajustamento de Conduta (TAC), citado na averbação 5 da Matrícula 42.569, do 5º Ofício de Imóveis do Distrito Federal, firmado entre a CODHAB,  TERRACAP, e outras partes.
      %li.c4.c24
        %span.c11.c6 O Projeto Nascente Ribeirão, objeto do presente termo de
        %span.c15.c12 ato declaratorio
        %span.c11.c6 , consiste na implementação de um conjunto habitacional, a ser edificado em parte da área correspondente ao Quinhão 23.
    %p.c1
      %span
    %ul.c19.lst-kix_list_1-0
      %li.c4.c24
        %span.c11.c6 Este instrumento não confere, ao declarante, unidade habitacional específica, mas sim a participação no Projeto Nascente Ribeirão, que se dará conforme regras estabelecidas no Convênio nº 001/2015, firmado entre OASSEH e CODHAB.
    %p.c1
      %span
    %ul.c19.lst-kix_list_1-0
      %li.c4.c13
        %span.c11.c6 O declarante tem ciência que deverá manter-se filiado à Cooperativa/Entidade
        %span #{@member.cadastre.name}
        %span.c0.c9 .
    %p.c1
      %span
    %ul.c19.lst-kix_list_1-0
      %li.c4.c13
        %span.c2 A OASSEH-DF, promoverá em parte do referido lote o Projeto Residencial Nascente Ribeirão.
    %p.c1
      %span
    %ul.c19.lst-kix_list_1-0
      %li.c4.c13
        %span.c2 Que, o Projeto Residencial Nascente Ribeirão possui convênio assinado com o COHAB/DF sob o nº 001/2015 – Processo Administrativo nº 392.007.562/2015, bem como existem um Termo de Ajustamento de Conduta (TAC - Processo nº 2009.01.1.197469-8 - Vara de Meio Ambiente, Desenvolvimento Urbano e Fundiário do Distrito Federal) averbado sob o nº 05, na matrícula nº 42.569, do Cartório do 5º Oficio do Registro de Imóveis do Distrito Federal, no qual a OASSEH-
        %span.c12 DF
        %span.c2  aderiu voluntariamente;
    %p.c1
      %span
    %ul.c19.lst-kix_list_1-0
      %li.c4.c13
        %span.c2 Que, tem conhecimento na íntegra que o TERMO DE PARCERIA assinado entre a OASSEH e a entidade  na qual o declarante afirma ser filiado(a), independentemente de transcrição.
    %p.c1
      %span
    %ul.c19.lst-kix_list_1-0
      %li.c4.c13
        %span.c2 O valor a ser pago pelo declarante será para custear a aquisição de parte restante do terreno urbano Quinhão 23, objeto da matrícula nº 42.569, do 5º Oficio do Registro de Imóveis do Distrito Federal, elaboração de projetos, registros, impostos, alvarás, licenças, e outras despesas necessárias a implementação do Empreendimento Residencial Nascente Ribeirão em Santa Maria DF,
        %span.c12 e
        %span.c2  o valor
        %span.c12 é
        %span.c2   de 
        %span.c11.c17.c7 R$ 13.150,00 (treze mil, cento e cinquenta reais)
        %span.c2 ,
        %span.c11.c7.c17 e deverá ser
        %span.c7.c12 pago um valor até R$ 1.000,00(mil reais) à entidade inscrito(a), a título de manutenção e contribuição de despesas, e o valor restante de R$ 12.150,00(doze mil cento e cinquenta) serão pagos diretamente na sede do Projeto Nascente Ribeirão.
    %p.c1
      %span
    %ul.c19.lst-kix_list_1-0
      %li.c4.c13
        %span.c2 O declarante terá direito a desconto na razão do valor da aquisição da cota de participação do Projeto Residencial Nascente Ribeirão, quando da implementação do Projeto Residencial Nascente Ribeirão, a ser construída no empreendimento, conforme projetos em execução a serem aprovados pelos órgãos competentes do GDF.
    %p.c1
      %span
    %ul.c19.lst-kix_list_1-0
      %li.c4.c13
        %span.c2 No caso de falta de pagamento da cota de participação do projeto Ribeirão Nascente objeto deste instrumento no prazo estipulado ou ainda da não aprovação de financiamento pelo agente financeiro, quando da implementação do Projeto fica rescindido, cabendo ao declarante receber a devolução dos valores pagos à OASSEH-
        %span.c12 DF
        %span.c2 , descontados 10%(dez por cento) do valor para custear as despesas administrativas e 10% (dez por cento) a título de multa contratual.
    %p.c1.c31
      %span
    %p.c1
      %span
    %p.c4
      %span.c2 Brasília
      %span.c12 , _____ de ______ de 20__.
    %p.c1
      %span
    %p.c1
      %span
    %p.c4
      %span.c2 _________________________________________
    %p.c4
      %span #{@member.name}
    %p.c25
      %span
    %p.c4
      %span.c12 _________________________________________
    %p.c4
      %spam= @member.cadastre.president.name if @member.cadastre.president.present?
    %p.c4
      %span #{@member.cadastre.name}
    %p.c1
      %span.c3.c7
    %p.c4
      %span
      %span TERMO DE PARCERIA Nº #{@member.term_number}
      %span.c12 - OASSEH-DF/#{@member.cadastre.acronym}
    %div
      %p.c29
        %span.c5.c10 _________________________________________________________________________________
      %p.c21
        %span
      %p.c29
        %span.c5.c10 SEDE/GUARA:
        %span.c5 QE 13 Conjunto H Casa 10 Guará II - Brasília DF,
        %span.c5.c10 Contato: (61)3546-9831/3547-2524
        %span.c5  
        %span.c5.c10 SEDE/VENANCIO:
        %span.c5 SCS Qd. 08, bloco B-60, 2º andar, Salas 251 a 256, Venâncio Shopping, Escritório e Gastronomias, Asa Sul-Brasília-DF
        %span.c5.c10 Contato: (61) 3033-1290/3033-7270
      %p.c29
        %span.c5.c10 Site:
        %span.c5.c27
          %a.c23{:href => "https://www.google.com/url?q=http://www.oasseh-df.org.br&sa=D&ust=1466091892151000&usg=AFQjCNGkDoRbDvqSwymjzAxYLTe7mp-xOA"} www.oasseh-df.org.br
        %span.c5.c10  E-MAIL:
        %span.c5.c27
          %a.c23{:href => "mailto:contato@oasseh-df.org.br"} contato@oasseh-df.org.br
        %span.c5.c10  
      %p.c18
        %span